/data/
EDA_jtc_files
reports

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/
notebooks

# Virtual env
.venv/
env/
venv/

# OS
.DS_Store

# Logs
*.log

src/pipelines/end2end.py
models/